{% extends 'shell.html'%}
{% block title %} Home {% endblock %}

{% load static %}
{% block static_content %}
<script src="{% static '/js/dropdown.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/dropdown.css' %}">
<link rel="stylesheet" href="{% static '/css/shell.css' %}">
<link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block main %}
<main>
    <!-- added for styling purposes (reuse.css applies class main-header )-->
    <h1 class="main-header">Download</h1>
    <!-- added form container for better styling -->
    <div class="form-container">
        <!-- form -->
        <div class="input-form">
            <!-- added form component divs so I can group the label and inputs
            when styling -->
            <div class="form-component">
                <label for="filetype">Choose a file type </label>
                <select name="filetype" id="filetype" class="dropdownlist">
                    <option class="dummy-option" selected>File Type</option>
                    <option value="Shapefile">Shapefile</option>
                    <option value="CSV">CSV</option>
                    <option value="GeoPackage">GeoPackage</option>
                </select>
            </div>
            
            <br/>

            <div class="form-component">
                <label for="folderselect">Select a folder </label>
                <select name="folderselect" id="folderselect" class="dropdownlist" onchange="updateFeatureDropdown()">
                    <option class="dummy-option" selected>Folders</option>
                    {% for folder in folders %}
                        <option value="{{ folder.id }}">{{ folder }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>

            <div class="form-component">
                <label for="featureselect">Select a layer </label>
                <select name="featureselect" id="featureselect" class="dropdownlist" onchange="updateSublayerDropdown()">
                    <option class="dummy-option">Layers</option>
                    {% for feature in features %}
                        <option value="{{ feature }}">{{ feature }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <div class="form-component">
                <label for="sublayerselect" id="sublayerselectlabel">Select a sublayer </label>
                <select name="sublayerselect" id="sublayerselect" class="dropdownlist">
                    <option class="dummy-option">Sublayers</option>
                    {% for sublayer in sublayers %}
                        <option value="{{ sublayer }}">{{ sublayer }}</option>
                    {% endfor %}
                </select>           
            </div>

            <br/>

            <div class="form-component" hidden>
                <label for="attachmentcheck">Download Attachments </label>
                <input type="checkbox" id="attachmentcheckbx">
            </div>
        </div>
        <!-- end of form -->
        <!-- need to get rid of the div the button was in so I could center the button -->
        <!-- changed inner html to submit since the h1's inner HTML has Download-->
        <button class="download-button" type="button" onclick="download()">Download</button> 
    

    <div class="colourtable">
     <table>
        <thead>
          <tr>
            <th style="padding: 5px;">Feature Type</th>
            <th style="padding: 5px;">Colour</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Feature Service</td>
            <td style="background-color: lightblue;"></td>
          </tr>
          <tr>
            <td>Web Map</td>
            <td style="background-color: lightgreen;"></td>
          </tr>
          <tr>
            <td>Web Mapping Application</td>
            <td style="background-color: lightpink;"></td>
          </tr>
          <tr>
            <td>Service Definition</td>
            <td style="background-color: lightgrey;"></td>
          </tr>
          <tr>
            <td>Microsoft Excel</td>
            <td style="background-color: green;"></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
      
</main>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
